.highlight {
  color: #61ce70;
}

.liveIndicatorDot {
  height: 10px;
  width: 10px;
  background-color: #61ce70;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-top: 2px;
}

.platformImg {
  width: 25px;
  height: 25px;
  padding: 0px 3px;
}

.searchResultImg {
  width: 25px;
  height: 25px;
  padding: 0px 3px;
  border-radius: 50%;
}

#youtubeChatWarning {
  display: none;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
}
